.content {
	background-image: linear-gradient(180deg,var(--main-bg-color,#282626db),var(--secondary-bg-color,#282626db));
}

.aside {
    background: var(--main-bg-color,#2d2e2f);
}

.toolbar {
	background: var(--bgcolor-toolbar,#2d2e2f);
	border-radius: 0px 0px 0 0;
	box-shadow: 0 -1px 0 0 hsla(0, 2.3%, 56.7%, 0.2);
}

.toolbar-button:hover {
	box-shadow: unset;
	background-color: var(--bgcolor-spacebar,#313335);
}

.placeholder {
	color: rgba(7, 90, 227, 0.65);
	font-style: italic;
}

.toolbar-separator {
	width: 2px;
	background-image: linear-gradient(90deg,var(--bgcolor-spacebar,#393a3c),var(--bgcolor-spacebar,#393a3c) 1px,var(--bgcolor-spacebar,#121313) 0);
}

[aria-current="page"].navigation__link {
	background: var(--main-bg-color,#303031);
	color: var(--color-nav-active,#fff);
	font-weight: 700;
}

.pm-button-blue:hover {
	color: #fff;
    box-shadow: 0.35714em rgba(0,0,0,2);
	background: #d49947;
}

.pm-button-blue {
	color: #fff;
	background-color: #657ee4;
	border: 0px solid #303031;
}

.logo-container, .sidebar {
    width: var(--width-sidebar,1rem);
    max-width: 40rem;
}